@import "../utils/Colors.scss";

.brand {
  cursor: pointer;
  img {
    text-transform: uppercase;
    font-size: xx-large;
    border: 0.1rem solid #483de1 ;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    color: $blueColor;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
}
.footer {
  img {
    color: white;
    border-color: white;
  }
}
